
/* ===========================
   Logo
=========================== */

.logo{
    padding:25px 20px;
    border-bottom:1px solid rgba(255,255,255,.08);
    margin-bottom:15px;
}

.logo-link{
    text-decoration:none;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo img{
    width:90px;
    height:auto;
    object-fit:contain;
    margin-bottom:12px;
}

.logo h2{
    font-size:20px;
    font-weight:700;
    margin-bottom:4px;
}

.logo span{
    font-size:13px;
    color:#9CA3AF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{

    background:#F5F7FB;

}

.wrapper{

    display:flex;

}

.main-content{

    margin-left:260px;

    width:calc(100% - 260px);

    min-height:100vh;

    padding:30px;

}